@if (variant() === 'admin') {

<div class="flex items-center justify-end gap-2 border-t border-[#322a4a] bg-[#1a1628] px-4 py-3">

  <button
    (click)="prev()"
    [disabled]="currentPage() === 1"
    class="flex h-9 w-9 items-center justify-center rounded-lg
           border border-[#322a4a]
           bg-[#171322]
           text-violet-300
           transition
           hover:border-violet-500
           hover:bg-violet-500/10
           disabled:cursor-not-allowed
           disabled:opacity-30">

    <svg class="h-4 w-4" fill="currentColor" viewBox="0 0 24 24">
      <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"/>
    </svg>

  </button>

  @for (page of pages(); track $index) {

    @if (page === '...') {

    <span class="flex h-9 w-9 items-center justify-center text-sm text-gray-500">
      ...
    </span>

    }

    @else {

    <button
      (click)="go(page)"
      class="h-9 w-9 rounded-lg text-sm font-medium transition"

      [class.bg-violet-600]="page === currentPage()"
      [class.text-white]="page === currentPage()"

      [class.border]="page !== currentPage()"
      [class.border-[#322a4a]]="page !== currentPage()"
      [class.bg-[#171322]]="page !== currentPage()"
      [class.text-gray-300]="page !== currentPage()"
      [class.hover:border-violet-500]="page !== currentPage()"
      [class.hover:bg-violet-500/10]="page !== currentPage()">

      {{ page }}

    </button>

    }

  }

  <button
    (click)="next()"
    [disabled]="currentPage() === totalPages()"
    class="flex h-9 w-9 items-center justify-center rounded-lg
           border border-[#322a4a]
           bg-[#171322]
           text-violet-300
           transition
           hover:border-violet-500
           hover:bg-violet-500/10
           disabled:cursor-not-allowed
           disabled:opacity-30">

    <svg class="h-4 w-4" fill="currentColor" viewBox="0 0 24 24">
      <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/>
    </svg>

  </button>

</div>

}