<div class="rounded-xl border border-[#322a4a] bg-[#171322] p-4 shadow-lg">
    <form [formGroup]="form" class="flex flex-wrap items-end gap-4">

        @for(field of fields; track field.key) {

        <div [class.w-[300px]]="field.type === 'date'" [class.w-[160px]]="field.type === 'select'"
            [class.w-[240px]]="field.type === 'text'">

            <label class="mb-2 block text-sm font-medium text-violet-200">
                {{ field.label }}
            </label>

            @switch (field.type) {

            @case ('text') {

            <input type="text" [formControlName]="field.key" [placeholder]="field.placeholder || ''" class="h-[42px] w-full rounded-lg border border-[#322a4a]
                       bg-[#1a1628]
                       px-3 text-sm text-white
                       placeholder:text-gray-500
                       outline-none transition
                       hover:border-violet-500/60
                       focus:border-violet-500
                       focus:ring-2 focus:ring-violet-500/20" />

            }

            @case ('select') {

            <app-dropdown [options]="field.options || []" [placeholder]="field.placeholder || 'Chọn'"
                [value]="form.get(field.key)?.value" (changed)="onDropdownChange(field.key, $event?.value)">
            </app-dropdown>

            }

            @case ('date') {

            <app-date-picker [value]="form.get(field.key)?.value" [placeholder]="field.placeholder"
                (valueChange)="onDropdownChange(field.key, $event)"></app-date-picker>

            }

            }

        </div>

        }

        <div>

            <button type="button" (click)="onReset()" class="h-[42px]
                       cursor-pointer
                       rounded-lg
                       border border-[#322a4a]
                       bg-[#1a1628]
                       px-4
                       text-sm font-medium
                       text-gray-200
                       transition
                       hover:border-violet-500
                       hover:bg-violet-500/10">
                Đặt lại
            </button>

        </div>

    </form>
</div>